grant {
//	permission java.security.AllPermission;
	permission java.net.SocketPermission "*:23456", "connect";
	permission java.io.FilePermission "<<ALL FILES>>", "read,write ";
	permission java.util.PropertyPermission "user.dir", "read";
};