
grant codeBase "file:build/classes/" {
	permission java.util.PropertyPermission "user.dir", "read";

	// aceitar ligacoes em portos superiores ao porto 1024
	permission java.net.SocketPermission "*:1024-", "accept";
	
	// escutar ligacoes no ip 127.0.0.1 e porto 23456
	permission java.net.SocketPermission "localhost:23456", "listen, resolve";
	
	// ler e escrever no ficheiro de users
	permission java.io.FilePermission "users.txt", "read, write";

	// ler e escrever no ficheiro de grupos
	permission java.io.FilePermission "groups.txt", "read, write, delete";
	
	// ler e escrever no ficheiro de grupos
	permission java.io.FilePermission "tempGroups.txt", "read, write";

	// criar pastas na raiz	
	permission java.io.FilePermission "users", "write";
	permission java.io.FilePermission "groups", "write";
	permission java.io.FilePermission "conversations", "write";

	// criar subpastas
	permission java.io.FilePermission "users/-", "write";
	permission java.io.FilePermission "groups/-", "write, delete";
	permission java.io.FilePermission "conversations/-", "write, delete";

	// ler todos os ficheiros	
	permission java.io.FilePermission "/-", "read";
	permission java.io.FilePermission "*", "read";
};
